@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row d-flex mt-3 justify-content-center align-items-center text-center">
            <h1>Online Courses UI</h1>
        </div>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
