@page "/home"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@attribute [Authorize (Roles = "User,Instructor")]

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <p>Hello, @context.User.Identity.Name</p>
</AuthorizeView>

Welcome to your new app.
